<!DOCTYPE html>
<html>
    <head>
        <title>Rust + HMTX sample</title>
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    </head>
    <body>
        <div style="display: flex; flex-direction: column">
            <h1>Generic and unimpressive TODO app</h1>
            <h2>Here are your TODO's</h2>
            <div>
                <ul>
                    {% for todo in todos %}
                        <li id="todo-{{ todo.id }}-li">
                            <div style="display: flex; flex-direction: row">
                                {{ todo|safe }}
                                <button hx-delete="/api/todo/{{ todo.id }}"
                                        hx-swap="outerHTML"
                                        hx-target="#todo-{{ todo.id }}-li">remove</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <h2>Add another TODO</h2>
            <div>
                <input type="text" />
                <button>add</button>
            </div>
        </div>
    </body>
</html>
