<!DOCTYPE html>
<html>
    <head>
        <title>Rust + HMTX sample</title>
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    </head>
    <body>
        <div style="display: flex; flex-direction: column">
            <h1>Generic and unimpressive TODO app</h1>
            <h2>Here are your TODO's</h2>
            <div>
                <ul id="todo-list">
                    {% for todo_list_item in todo_list_items %}{{ todo_list_item|safe }}{% endfor %}
                </ul>
            </div>
            <h2>Add another TODO</h2>
            <div>
                <form hx-post="/api/todo" hx-swap="beforeend" hx-target="#todo-list">
                    <input id="todo-title-input" type="text" name="title" required>
                    <button type="submit">add</button>
                </form>
            </div>
        </div>
    </body>
</html>
